/* Sagnik Mukherjee, Michael Choe */
.root {
    -fx-font-family: "Arial";
    -fx-background-color: #ecb176;
    -fx-font-size: 14pt;
}

.button,
.split-menu-button,
.split-menu-button > .label,
.split-menu-button > .arrow-button {
    -fx-background-color: #d99a6c;
}

.button:hover,
.split-menu-button > .label:hover,
.split-menu-button > .arrow-button:hover {
    -fx-background-color: #fed8b1;
}

.button:focused,
.split-menu-button:focused > .label,
.split-menu-button > .arrow-button:focused {
    -fx-background-color: #a67b5b;
}

.label {
    -fx-font-size: 14pt;
}

.label-title {
    -fx-font-size: 24pt;
    -fx-font-style: italic;
}

.text-area {
    -fx-text-fill: black;
    -fx-font-family: "SansSerif";
    -fx-background-color: #6f4e37;
}

.mini {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

.check-box {
    -fx-border-color: lightblue;
    -fx-font-size: 20;
    -fx-border-insets: -5;
    -fx-border-radius: 5;
    -fx-border-style: dotted;
    -fx-border-width: 2;
}